---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1 class="text-xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
        SSR Testing for Astro App
      </h1>
    </div>
  </div>
</MainLayout>
