---
import { Navbar } from "@spheron/ui-library";
// import { ReactComponent as SpheronLogo } from "../../public/Images/spheron-logo.svg";
import { Image } from "astro:assets";
---

<!doctype html>
<!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
    <title>Spheron SSR Test</title>
  </head>
  <body>
    <slot />
    <!-- <Navbar
      infoElements={(
        <div class="flex flex-1 justify-end items-center space-x-5"></div>
      )}
    /> -->
    <section class="container mx-auto max-w-screen-xl mt-10 px-8">
      Section
    </section>
  </body>
</html>
