---
import { Navbar } from "@spheron/ui-library";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} /><script
      src="index.js"
      type="module"></script>
  </head>
  <body>
    <slot />
    <!-- <Navbar
      infoElements={(
        <div class="flex flex-1 justify-end items-center space-x-5"></div>
      )}
    /> -->
  </body>
</html>
